@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .background-image {
      @apply absolute top-0 left-0 w-full pointer-events-none
  }
  .clip-background {
    top: initial
  }
  .translate-50 {
    transform: translate(-50%, -50%)
  }
  .text-uni {
    font-size: 8vw;
  }
}
